<div class="container footer-container">
    <div class="footer-left">
        <div>
            <img src="layout/assets/images/rog-logo.svg" alt="logo" class="footer-logo-class">
        </div>
        <div class="dial-container">
            <span>
                <img src="layout/assets/images/dial.svg" alt="dial">
            </span>
            <span style="padding-left: 8px;padding-top: 5px;">
                <div class="toll-text">Toll Free</div>
                <div class="contact"><a href="tel:18002090365">1800 2090 365</a></div>
            </span>
        </div>
        <div class="categories-table-container mobile-footer-categories-table-container">
            <div id="categories" class="category-title">
                Categories
            </div>
            <div id="categories-container" class="categories-container">
                <div id="categories" class="categories">
                    <div class="category-title">Laptops</div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-home/all-series/">For Home</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-work/all-series/">For Work</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-creators/all-series/">For Creators</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-students/all-series/">For Students</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-gaming/all-series/">For Gaming</a></div>
                </div>
                <div id="categories" class="categories">
                    <div class="category-title">Desktop / Displays</div>
                    <div class="category"><a href="https://www.asus.com/in/displays-desktops/gaming-tower-pcs/all-series/">Gaming Tower PCs</a></div>
                    <div class="category"><a href="https://www.asus.com/in/displays-desktops/all-in-one-pcs/all-series/">All-in-One PCs</a></div>
                </div>
            </div>
        </div>
        <div class="inquiry-container">
            <div class="inquiry-title">Sales Inquiry | Technical Support | Networking Products</div>
            <div class="inquiry-hours"><span style="position: relative;top: 3px;padding-right: 8px;"><img
                        src="layout/assets/images/clock-check.svg" alt="clock-check"></span><span>9:00am to 6:00pm
                    (Monday - Saturday)</span></div>
            <div class="inquiry-hours"><span style="position: relative;top: 3px;padding-right: 8px;"><img
                        src="layout/assets/images/clock-cross.svg" alt="clock-cross"></span><span>Closed on
                    National Holidays</span></div>
        </div>
        <div>
            <div class="inquiry-title">Hygiene Pages</div>
            <div class="inquiry-hours"><a href="">Terms of Use</a></div>
            <div class="inquiry-hours"><a href="">Privacy Policy</a></div>
            <div class="inquiry-hours"><a href="">Sales Terms & Conditions</a></div>
        </div>
    </div>
    <div class="footer-right">
        <div id="categories-table-container" class="categories-table-container">
            <div id="categories" class="category-title">
                Categories
            </div>
            <div id="categories-container" class="categories-container">
                <div id="categories" class="categories">
                    <div class="category-title">Laptops</div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-home/all-series/">For Home</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-work/all-series/">For Work</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-creators/all-series/">For Creators</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-students/all-series/">For Students</a></div>
                    <div class="category"><a href="https://www.asus.com/in/laptops/for-gaming/all-series/">For Gaming</a></div>
                </div>
                <div id="categories" class="categories">
                    <div class="category-title">Desktop / Displays</div>
                    <div class="category"><a href="https://www.asus.com/in/displays-desktops/gaming-tower-pcs/all-series/">Gaming Tower PCs</a></div>
                    <div class="category"><a href="https://www.asus.com/in/displays-desktops/all-in-one-pcs/all-series/">All-in-One PCs</a></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer-bottom">
    <div id="social-media-container" class="container social-media-container left-aligned">
        <a href=""><img src="layout/assets/social-media/community-facebook.svg" alt="community-facebook"></a>
        <a href=""><img src="layout/assets/social-media/Twitter-asus.svg" alt="community-facebook"></a>
        <a href=""><img src="layout/assets/social-media/community-instagram.svg" alt="community-instagram"></a>
        <a href=""><img src="layout/assets/social-media/community-youtube.svg" alt="community-youtube"></a>
        <a href=""><img src="layout/assets/social-media/community-whatsApp.svg" alt="community-whatsapp"></a>
        <a href=""><img src="layout/assets/social-media/threads-asus.svg" alt="community-whatsapp"></a> 
        <a href=""><img src="layout/assets/social-media/community-facebook-rog.svg" alt="community-facebook"></a> 
        <a href=""><img src="layout/assets/social-media/community-instagram-rog.svg" alt="community-facebook"></a>
        <a href=""><img src="layout/assets/social-media/community-youtube-rog.svg" alt="community-instagram"></a>
        <a href=""><img src="layout/assets/social-media/Twitter-ROG.svg" alt="community-youtube"></a> 
        <a href=""><img src="layout/assets/social-media/Thread-rog.svg" alt="community-whatsapp"></a> 

    </div>
    <div class="container rights-container right-aligned">©ASUS 2025 All rights reserved.</div>
</div>