
<div class="useful-tips-container">
    <div class="useful-tips-title">Useful Laptop Tips Just For You</div>
    <div class="useful-tips-subtitle">
        <div>Find Product Tips, Troubleshooting videos and useful tech-related knowledge from ASUS!</div>
        
    </div>
   
    <div class="useful-tips-videos-container">
        <div class="swiper-container-1">
            <div id="swiper-wrapper-1" class="swiper-wrapper d-none"></div>
            <!-- Add Pagination -->
        
        </div>
        <div class="swiper-buttons-container-1">
            <div class="swiper-button-prev-1"><i class="fas fa-chevron-left"></i></div>
            <div class="swiper-button-next-1"><i class="fas fa-chevron-right"></i></div>
        </div>
    </div>
</div>

<script>
   fetch(`${baseUrl}/component/useful_laptop_tips`)
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {  
        let container = document.getElementById('swiper-wrapper-1');
        if (data.data.length > 0) {
            container.classList.remove('d-none');
            data.data.forEach((video_id, index) => {                    
                container.insertAdjacentHTML('beforeend', `
                    <div class="swiper-slide video-container">
                        <iframe width="100%" height="100%" 
                            src="https://www.youtube.com/embed/${video_id}" 
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen 
                            title="YouTube video"></iframe>
                    </div>`);
            });

            
            new Swiper('.swiper-container-1', {
                slidesPerView: 1,
                spaceBetween: 20,
                loop: true,
                breakpoints: {
                    450: {
                        slidesPerView: 2,
                    },
                    768: {
                        slidesPerView: 2,
                    },
                    820: {
                        slidesPerView: 2,
                    },
                    900: {
                        slidesPerView: 3,
                    },
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next-1',
                    prevEl: '.swiper-button-prev-1',
                },
                centeredSlides: false
            });
        }          
    });

</script>